@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: azure
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add this at the end of your global.css file */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  /* background: var(--background-end-rgb); */
}

::-webkit-scrollbar-thumb {
  background-color: slategray; /* Change to your desired thumb color */
  border-radius: 6px; /* Adjust as needed */
  border: 3px solid var(--background-start-rgb); /* Change to your desired border color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground-rgb); /* Change to your desired hover color */
}
